body {
    margin: 0;
}

.nav {
    height: 300px;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 300px;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}